*.DS_Store
__MACOSX
**/__pycache__/
*.pyc
*.compiled
out_adv_example.txt
step_*.vnnlib
*.json
tmp/
output/*.zip
.vscode
.hydra
*.zip
*.npy
*.onnx
test*.py
trace_graph.txt
*.txts
A_plot*
vis_planning.py
**/.vscode/
**/.github/
debug_*
/unused/
*.txt
.ipynb_checkpoints